
<body>
    <!--Container da tela de login-->
    <div class="container">
        <h2>Login</h2>
                    <div class="input-field">
                      <label for="nome">Nome:</label>
                <input type="text" id="nome" [(ngModel)]="login" name="login" placeholder="alguma coisa">
            </div>

            <div class="input-field">
              <label for="senha">Senha:</label>
                <input type="password" id="senha" [(ngModel)]="senha" name="senha" placeholder="alguma coisa">
            </div>

            <div class="center">
              <button type="submit" class="button">Entrar</button>
            </div>
            <p *ngIf="erro" style="color: red;">Login ou senha inválidos.</p>

        <div class="links-uteis">
            <a routerLink="/cadastro"><p>Ainda não sou cadastrado</p></a>
        </div>
    </div>
</body>
